[submodule "_external/PixRestore"]
	path = _external/PixRestore
	url = https://github.com/csslc/PixRestore.git
[submodule "runtime/open-shaders/extern/CommonLibSSE-NG"]
	path = runtime/open-shaders/extern/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibVR.git
[submodule "runtime/open-shaders/extern/Streamline-DX12"]
	path = runtime/open-shaders/extern/Streamline-DX12
	url = https://github.com/NVIDIA-RTX/Streamline.git
[submodule "runtime/open-shaders/extern/FidelityFX-SDK"]
	path = runtime/open-shaders/extern/FidelityFX-SDK
	url = https://github.com/alandtse/FidelityFX-SDK-DX11
	branch = optiscaler-build
[submodule "runtime/open-shaders/extern/nvapi"]
	path = runtime/open-shaders/extern/nvapi
	url = https://github.com/NVIDIA/nvapi.git

